<div class="row con-form">
    <input hidden type="text" name="UID" value="@Model.PersonalInformation.UID">
    <div class="col-md-12">
        <input type="text" name="Name" placeholder="Full Name" class="form-control">
    </div>
    <div class="col-md-12">
        <input type="text" name="Email" placeholder="Email" class="form-control">
    </div>
    <div class="col-md-12">
        <input type="text" name="Subject" placeholder="Subject" class="form-control">
    </div>
    <div class="col-md-12">
        <input type="text" name="Message" placeholder="Message" class="form-control">
    </div>
    <div class="col-md-12 sub-but"> <input type="submit" value="Gönder" class="btn btn-general btn-white" /></div>
</div>