@model Entities.DTO.AboutMe.DtoAboutMeInsert
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Hakkımda</h4>
            <a href="/admin/Hakkimda" class="btn btn-primary" style="float:right">Geri Git</a> <br /><br /><br />
            <form action="/admin/Hakkimda/Insert" method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Ön Yazı </label>
                    <div class="col-sm-6">
                        <textarea type="text" asp-for="CoverLetter" class="form-control" placeholder="Ön yazı giriniz"> </textarea>
                          <span asp-validation-for="CoverLetter"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Profil Resmi </label>
                    <div class="col-sm-6">
                        <input type="file" name="ProfilImage" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Arka Plan Resmi</label>
                    <div class="col-sm-6">
                        <input type="file" name="BoardImage" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Kişi Seç</label>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm" name="PersonalInformationUID">
                            @foreach (var item in ViewBag.Kisiler)
                            {
                                <option value="@item.UID">@item.NameSurname</option>
                            }

                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-gradient-info">Kaydet</button>
                               <a href="/admin/Hakkimda" class="btn btn-light" type="button">Vazgeç</a>

            </form>

            <div class="col-md-12" style="margin-top:15px;">
                @if (ViewBag.Message != null)
                {
                    if (ViewBag.Message.StatusCode == Core.Results.ComplexTypes.StatusCode.Success)
                    {
                        <div class="alert alert-success">@ViewBag.Message.UserMessage</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">@ViewBag.Message.UserMessage</div>
                    }
                }
            </div>


        </div>
    </div>
</div>