@model Entities.PersonalInformation
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Kişi</h4>
            <a href="/admin/KisiBilgileri" class="btn btn-primary" style="float:right">Geri Git</a> <br /><br /><br />
            <form action="/admin/KisiBilgileri/Insert" method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Ad Soyad</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Ad Soyad" asp-for="NameSurname" class="form-control" />
                        <span asp-validation-for="NameSurname"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Doğum Tarihi</label>
                    <div class="col-sm-6">
                        <input type="datetime" placeholder="Doğum Tarihi" name="DateOfBirth" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Cinsiyet</label>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm" name="Gender">
                            <option value="Kadın">Kadın</option>
                            <option value="Erkek">Erkek</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Öğrenim Durumu</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Öğrenim Durumu" asp-for="Licence" class="form-control" />
                        <span asp-validation-for="Licence"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">E-mail</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Telefon</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Telefon" asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Adres</label>
                    <div class="col-sm-6">
                        <textarea rows="4" type="text" placeholder="Adres" asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">LinkedIn <i class="mdi mdi-linkedin-box"></i></label>
                    <div class="col-sm-5">
                        <input type="text" asp-for="LinkedIn" class="form-control" />
                        <span asp-validation-for="LinkedIn"></span>

                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">GitHub <i class="mdi mdi-github-box"></i></label>
                    <div class="col-sm-5">
                        <input type="text" asp-for="GitHub" class="form-control" />
                        <span asp-validation-for="GitHub"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Medium <i class="mdi mdi-medium"></i></label>
                    <div class="col-sm-5">
                        <input type="text" asp-for="Medium" class="form-control" />
                        <span asp-validation-for="Medium"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sürücü Belgesi</label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="DrivingLicense" class="form-control" />
                        <span asp-validation-for="DrivingLicense"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Durum</label>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm" name="Status">
                            <option value="True">Aktif</option>
                            <option value="False">Pasif</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-gradient-info">Kaydet</button>
                               <a href="/admin/KisiBilgileri" class="btn btn-light" type="button">Vazgeç</a>

            </form>

            <div class="col-md-12" style="margin-top:15px;">
                @if (ViewBag.Message != null)
                {
                    if (ViewBag.Message.StatusCode == Core.Results.ComplexTypes.StatusCode.Success)
                    {
                        <div class="alert alert-success">@ViewBag.Message.UserMessage</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">@ViewBag.Message.UserMessage</div>
                    }
                }
            </div>


        </div>
    </div>
</div>